
# Folders
__pycache__/
.idea/
venv/
tests/
*SavedModels/
*saved_models/
plotting/
*logs/
*performance_profiles/
ignore/

# Files
*.pdf
*.pgf
*.stor
*.gstor
*.zip
*.gzip
*.bu
*.h5
*.profile
*.csv
*.dat

load_profile.py
test?.py
